.main_wrap{
	background-color: lightyellow;
}

.content{
	min-height: 560px;
}
.myheader{
	background-color: pink;
}
.mymaincontent{
	min-height: 560px;
}
.details{
	font-size: 25px;
	font-family: cursive;
}
